@model IEnumerable<BookMVC.Models.Books>;

@{
	ViewData["Title"] = "Daftar Buku";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Judul</th>
			<th>Penulis</th>
			<th>Genre</th>
			<th>Tahun</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var book in Model)
		{
			<tr>
				<td>@book.Id</td>
				<td>@book.Title</td>
				<td>@book.Author</td>
				<td>@book.Genre</td>
				<td>@book.YearPublished</td>
				<td>
					<a href="@Url.Action("Detail", new { id = book.Id })" class="btn btn-sm btn-info">Detail</a>
				</td>
			</tr>
		}
	</tbody>
</table>